.navbar(ng-controller="tmNavigationCtrl" ng-show="identity.isAuthenticated()")
    .container
        ul(ng-repeat="nav in navItems | orderBy: 'sortOrder'")
            li(ng-if="!nav.navItems.length > 0")
                a(href="{{nav.link}}") {{nav.name}}
            li.dropdown(ng-if="nav.navItems.length > 0")
                a.dropdown-toggle(href="#" data-toggle="dropdown") {{nav.name}}  
                    span.caret
                ul.dropdown-menu(role="menu")
                    li(ng-repeat-start="nav in nav.navItems | orderBy: 'sortOrder'")
                        a(href="{{nav.link}}") {{nav.name}}
                    li.divider(ng-if="nav.endSection" ng-repeat-end)
        //.container
            //ol.breadcrumb
                //li
                    //a(href="/") Home
                //li
                    //a(href="#") Events
                //li.active Customers


