.container.col-md-12(ng-controller="tmMenuItemsCtrl as vm")
    .breadcrumb {{vm.pageTitle}}
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            | &nbsp;
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in vm.sortOptions")
    table.table.table-responsive
        colgroup
            col(span="1")
            col(span="1")
            col.tableNav(span="1")
        thead
            th Menu Item
            th Description
            th.text-right
                a(href="/production/menuItems/new")
                    span.glyphicon.glyphicon-plus
        tbody
            tr(ng-repeat="menuItem in vm.menuItems | filter:searchText | orderBy:sortOrder")
                td {{menuItem.name}}
                td {{menuItem.description}}
                td.text-right
                    a(href="/production/menuItems/{{vm.menuItem._id}}")
                        span.glyphicon.glyphicon-pencil
                    | &nbsp; | &nbsp;
                    a(href="" ng-click="deleteMenuItem(vm.menuItem._id)")
                        span.glyphicon.glyphicon-remove
    