.container.col-md-12(ng-controller="tmMenuDetailCtrl as vm")
    .well
        form.form-horizontal(name="menuDetailForm")
            fieldset
                legend Menu Detail
                .form-group
                    label.col-md-2.control-label(for="title") Title
                    .col-md-10
                        input.form-control(name="title", type="text", placeholder="Title", ng-model="vm.menu.title", required)
                .form-group
                    label.col-md-2.control-label(for="subtitle") Sub Title
                    .col-md-10
                        textarea.form-control(name="subtitle", rows="5", placeholder="Sub Title", ng-model="vm.menu.subtitle", required)
                .form-group
                    label.col-md-2.control-label(for="footer") Footer
                    .col-md-10
                        input.form-control(name="footer", type="text", placeholder="Footer", ng-model="vm.menu.footer", required)
                .form-group
                    label.col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="vm.submitMenu()", ng-disabled="menuDetailForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(ui-sref="menus") Back