.container-fluid.detailForm
    .row.detailHeader
        .pull-left
                h4 {{vm.pageTitle}}
            .pull-right
                button.btn.btn-primary(ng-click="vm.close()")
                    span.glyphicon.glyphicon-remove
    .row.detailContent
        .col-sm-10
            progress
                bar(value="25" type="success") Created
                bar(value="25" type="success") Menus Added
                bar(value="25" type="default") Menus Published
                bar(value="25" type="default") Menu Group Active
            legend Basic Info
            .well
                form(novalidate)
                    formly-form(model="vm.menu" fields="vm.menuGroupFields" form="vm.menuGroupDetailForm")
            
        .col-sm-2
    .row.detailFooter
        .pull-left
            button.btn.btn-default(ng-click="vm.close()") Cancel
        .pull-right
            button.btn.btn-primary(ng-click="vm.reset()" ng-disabled="vm.menuGroupDetailForm.$invalid || vm.menuGroupDetailForm.$pristine") Undo Changes
            | &nbsp;
            button.btn.btn-primary(ng-click="vm.saveChangesAndClose()" ng-disabled="vm.menuGroupDetailForm.$invalid || vm.menuGroupDetailForm.$pristine") Save & Close
            | &nbsp;
            button.btn.btn-primary(ng-click="vm.saveChanges()" ng-disabled="vm.menuGroupDetailForm.$invalid || vm.menuGroupDetailForm.$pristine") Save & Stay
.col-md-9(ng-controller="tmMenuDetailCtrl as vm")
    .well
        form.form-horizontal(name="vm.menuDetailForm")
            fieldset
                legend Menu Information
                .form-group
                    label.col-md-2.control-label(for="title") Title
                    .col-md-10
                        input.form-control(name="title", type="text", placeholder="Title", ng-model="vm.menu.title", required)
                .form-group
                    label.col-md-2.control-label(for="subtitle") Sub Title
                    .col-md-10
                        textarea.form-control(name="subtitle", rows="5", placeholder="Sub Title", ng-model="vm.menu.subtitle", required)
                .form-group
                    label.col-md-2.control-label(for="footer") Footer
                    .col-md-10
                        input.form-control(name="footer", type="text", placeholder="Footer", ng-model="vm.menu.footer", required)
                legend Sections
                    a.pull-right(href="" ng-click="vm.addSection()")
                        span.glyphicon.glyphicon-plus
                tabset
                    tab(ng-repeat="section in vm.menu.sections track by $index" )
                        tab-heading {{section.title}}
                            // span(ng-click="vm.showEdit()" ng-hide="vm.showMe") {{section.title}}
                            // input(ng-model="section.title" ng-show="vm.showMe" ng-blur="vm.showEdit()")
                        div(style="padding-top: 20px")
                            .form-group
                                label.col-md-2.control-label(for="title") Title
                                .col-md-10
                                    input.form-control(name="sectionTitle" ng-model="section.title")
                            table.table.table-responsive
                                colgroup
                                    col(span="1")
                                    col(span="1")
                                    col.tableNav(span="1")
                                thead
                                    th Menu Item
                                    th Description
                                    th.text-right
                                        //a(sref="menuItemDetail({id: new})")
                                        a(href="/production/menuItems/new")
                                            span.glyphicon.glyphicon-plus
                                tbody
                                    tr(ng-repeat="menuItem in section.items")
                                        td {{menuItem.name}}
                                        td {{menuItem.description}}
                                        td.text-right
                                            a(href="/production/menuItems/{{menuItem.menuItemId}}")
                                                span.glyphicon.glyphicon-pencil
                                            | &nbsp; | &nbsp;
                                            a(href="" ng-click="menuList.deleteMenuItem(menuItem._id)")
                                                span.glyphicon.glyphicon-remove
                    
                
                // div(ng-repeat="section in vm.menu.sections")
                //     input(ng-model="section.title")
                //     input(ng-model="section.subtitle")
                //     
                //     div(ng-repeat="menuItem in section.items")
                //         input(ng-model="menuItem.name")
                //         input(ng-model="menuItem.description")
                    
                .form-group
                    label.col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-default(ng-click="vm.reset()", ng-disabled="vm.menuDetailForm.$pristine") Undo changes
                            | &nbsp;
                            button.btn.btn-primary(ng-click="vm.submitMenu()", ng-disabled="vm.menuDetailForm.$invalid || vm.menuDetailForm.$pristine") Submit
                            | &nbsp;
                            a.btn.btn-default(ng-click="back(vm.menuDetailForm.$pristine)") Back
.col-md-3
    legend Selectors
    tabset
        tab(heading="By Menu")
        tab(heading="By Item")