.container.col-md-12(ng-controller="tmMenusCtrl as vm")
    .breadcrumb {{vm.pageTitle}}
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            | &nbsp;
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in vm.sortOptions")
    table.table.table-responsive
        colgroup
            col(span="1")
            col(span="1")
            col.tableNav(span="1")
        thead
            th Menu Title
            th Sub Title
            th.text-right
                //a(sref="menuDetail")
                a(href="" ng-click="vm.addMenu()")
                    span.glyphicon.glyphicon-plus
        tbody
            tr(ng-repeat="menu in vm.menus | filter:searchText | orderBy:sortOrder")
                td {{menu.title}}
                td {{menu.subtitle}}
                td.text-right
                    a(href="/production/menus/{{menu._id}}")
                        span.glyphicon.glyphicon-pencil
                    | &nbsp; | &nbsp;
                    a(href="" ng-click="vm.deleteMenu(menu._id)")
                        span.glyphicon.glyphicon-remove