// .modal-header
//     h3 Wait...
.modal-body
    p Do you want to leave without saving?
.modal-footer
    button.btn.btn-default.pull-left(type="button"  ng-click="vm.leaveWithoutChangesNo()" ) No
    button.btn.btn-default.pull-right(type="button"  ng-click="vm.leaveWithoutChangesYes()" ) Yes
    
    
