body
    padding-top 69px

.tableNav
    width 65px;

.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px

.navbar-brand
    h4
        margin-top 0px

.container
    #main-content
        min-height 500px