.container.col-md-12
    h1 {{contract.name}}
    .row
        .col-md-6
            h3(ng-show="contract.contract") Contract
            h3 Contract Date {{contract.date | date}}

        .col-md-6
            .panel.panel-primary
                .panel-heading Tags
                .panel-body
                        div(ng-repeat="tag in contract.tags") {{tag}}