|{
|"collection": {
"href": "!{site}",
"version": "1.0",
"links":[],
"queries": [
{"rel":"all", "href":"!{site}"}],
"items": [
each item, index in items
    {"href":"!{site}
    =item._id
    ",
    "links":[],
    "data":
    !{JSON.stringify(item)}}
    if index < items.length-1
        |,
|]
|}
|}
