extends ../includes/layout

block main-content
    #top-nav.navbar.navbar-inverse.navbar-fixed-top
        .container(ng-controller="tmNavBarLoginCtrl")
            .navbar-header
                a.navbar-brand(href="/")
                    h4 TIPMINER
                a.pull-right.btn.btn-navbar.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                a.pull-right.btn.btn-navbar.navbar-toggle(data-toggle="collapse" href="/login" ng-hide="identity.isAuthenticated()") Login
                a.pull-right.btn.btn-navbar.navbar-toggle(data-toggle="collapse" ng-click="signout()" ng-show="identity.isAuthenticated()" href="") Sign Out
            .navbar-collapse.collapse.navbar-ex1-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    //li
                        //a(href="/contracts") Contracts
                div(ng-include="'/partials/account/navbar-login'")
    #main-content.container
        .row
            .col-md-2
                div(ng-include="'/partials/navigation/navbar-navigation'")
            .col-md-10
                .row
                    section.content.col-md-12
                        div(ng-view)
                hr
         