extends ../includes/layout

block main-content
    .navbar.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/")
                    h4 TIPMINER
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                ul.nav.navbar-nav
                    li
                        a(href="/") Plans
                ul.nav.navbar-nav
                    li
                        a(href="/") About
                    //li
                        //a(href="/contracts") Contracts
                div(ng-include="'/partials/account/navbar-login'")
    .row
        .col-md-2
            div(ng-include="'/partials/navigation/navbar-navigation'")
        section.content.col-md-10
            div(ng-view)
    .row
    