.container.col-md-12(ng-controller="tmUserListCtrl as vm")
    .breadcrumb {{vm.pageTitle}}
    table.table
        thead
            tr
                th Users
            tr(ng-repeat="user in vm.users")
                td {{user.firstName + ' ' + user.lastName}}
