container.col-md-12(ng-controller="tmMenuGroupsCtrl as vm")
    .breadcrumb {{vm.pageTitle}}
    fieldset
        legend Menu Groups
        .pull-right
            form.form-inline
                .form-group
                    input.form-control(ng-model="searchText", placeholder="Filter")
                | &nbsp;
                .form-group.margin-left-med
                    select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in vm.sortOptions")
        table.table.table-responsive
            colgroup
                col(span="1")
                col(span="1")
                col.tableNav(span="1")
            thead
                th Menu Groups
                th Description
                th.text-right
                    button.btn.btn-primary.btn-xs(ng-click="vm.addItem()") Add Group
            tbody
                tr(ng-repeat="menuGroup in vm.menuGroups | filter:searchText | orderBy: sortOrder")
                    td {{menuGroup.title}}
                    td {{menuGroup.subTitle}}
                    td.text-right
                        a(href="" ng-click="vm.details(menuGroup._id)")
                            span.glyphicon.glyphicon-pencil
                        | &nbsp; | &nbsp;
                        a(href="" ng-click="vm.deleteMenuGroup(menuGroup._id)")
                            span.glyphicon.glyphicon-remove
