.container.col-md-12
    .breadcrumb {{pageTitle}}
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
    table.table
        thead
            tr
                th Customer Name
                th.text-right Actions
            tbody
                tr(ng-repeat="customer in customers | filter:searchText | orderBy:sortOrder")
                    td {{customer.lastName}}, {{customer.firstName}}
                    td.text-right
                        a(href="/events/customers/{{customer._id}}") Edit
        //div(ng-include="'/partials/main/featured-contracts'")