.navbar-right.navbar-collapse.collapse
    ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()")
        li
            a(href="/signup") Sign Up
        li#menuLogin.dropdown
            a#navLogin.dropdown-toggle(href="#") Login
            div.dropdown-menu(style="padding: 17px;")
                form#formLogin.form
                    .form-group
                        input#username.form-control(name="username",type="text",placeholder="Username",ng-model="username")
                    .form-group
                        input#password.form-control(name="password", type="password", placeholder="Password",ng-model="password")
                    .form-group
                        input(type="checkbox" name="remember" ng-click="rememberMe()" ng-model="remember")
                        | &nbsp; Remember Me
                    button#btnLogin.btn.btn-default(type="button",ng-click="signin(username, password)") Login
    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="") {{identity.currentUser.firstName+' '+identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li
                    a(href="/profile") Profile
                li
                    a(href="", ng-click="signout()") Sign Out