.panel.panel-primary(ng-controller="tmMainCtrl")
    .panel-heading.text-center {{restaurantName}}
    .panel-body
        .row(ng-repeat="contract in contracts | filter:{contract:true}")
            .col-md-12
                a(href="/events/contracts/{{contract._id}}") {{contract.name}}