.container.col-md-12
    .jumbotron
        img(src="/app/assets/banquetNinja2.png")
        p Welcome to banquet.ninja!  Buttery smooth banquet management for you and your customers.

    .row
        .col-md-6
            //div(ng-include="'/partials/main/featured-contracts'")
        .col-md-6
            //div(ng-include="'/partials/main/featured-contracts'")
    //.col-md-6
        //div(ng-include="'/partials/main/new-contracts'")
