.container
    .jumbotron
        h1 TipMiner
        p Welcome to TipMiner!  The most comprehensive suite of tools to manage your independent restaurant!

    .row
       .col-md-6
            div(ng-include="'/partials/main/featured-contracts'")
       //.col-md-6
            //div(ng-include="'/partials/main/new-contracts'")
