.panel.panel-primary
    .panel-heading.text-center New Contracts
    .panel-body
        .row(ng-repeat="contract in contracts | orderBy: 'contract':true | limitTo:10")
            .col-md-3 {{contract.date | date:'MMM d'}}
            .col-md-9 {{contract.name}}